TELEGRAM_TOKEN=# token for telegram bot
STT_MODEL_DIR=# speech to text model directory
ASS_MODEL_DIR=# answer scoring system model directory
SILERO_DIR=# helpful directory for speech to text model
STT_OUTPUT_DIR=# directory for texts after transcribe
STT_RECORD_DIR=# directory for recorded wav files
LM_PATH=# helpful directory for speech to text model
STT_URL=# url for telegram bot for communicate with speech to text model
ASS_URL=# url for telegram bot for communicate with speech to text model
COUNTER_FILE=# for count same questions