*.pt
*.bin
*.pth
*.ckpt
*.h5
*.pb
*.onnx

stt_model/model/
stt_model/silero_vad/
stt_model/venv/
ASS_model/models/
ASS_model/.venv-ass-model/
bot/venv-bot

data/
*.wav
*.ogg
*.mp3
*.csv
*.json

__pycache__/
.env
*.env
.idea/